*{
   padding-left: 20px;
}
.header{
   color: li;
   display: flex;
   justify-content: center;
}
p{
   font-size: 20px;
}
h2{
   margin-left: 20px;
}
.b5{
   font-size: 20px;
}
.footer{
   margin-left: 1000px;
}
.b4{
   margin-bottom: 50px;
}